@import "tailwindcss";

html body{
    background-color: #f4f4f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

/* Firefox */
.no-scrollbar {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}


/* chat bot  */
.chat-bot {
    @apply px-4 py-1 bg-white border-2 border-gray-300 
        rounded-lg rounded-tl-none w-fit max-w-[80%];
}

.chat-user {
    @apply px-4 py-1 bg-white border-2 border-gray-300 
        rounded-lg rounded-tr-none w-fit ml-auto max-w-[75%] text-wrap;
}

.nav-link{
    @apply py-4 pl-8 w-full text-xl text-gray-800 hover:bg-white font-medium cursor-pointer active:opacity-75 flex items-center gap-3;
}